.rating svg {
  color: #fed53e;
}

.rating-text {
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 0.5rem;
}

.book-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-icon {
  width: 33.33%;
  color: #fed53e; 
}

.brand-name {
  width: 66.67%;
  display: flex;
  flex-direction: column;
}

.top-line {
  display: flex;
  align-items: flex-end; /* Align the items at the bottom */
}

.word1, .word2, .bottom-line {
  font-family: 'Poppins', sans-serif;
}

.word1 {
  font-weight: bold;
  font-size: 1.5em;
}

.word2 {
  font-size: 0.75em;
  background-color: #fed53e; /* Use the same background color as Publishers */
  border-radius: 1.875em;
  padding: 2px 3px;
  transform: rotate(-5deg);
  margin-bottom: 8px;
}

.word2:hover {
  transform: rotate(0deg);
}

.bottom-line {
  margin-top: -5px; /* Adjust the margin to align with the top line */
  font-size: 1.5em;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.carousel-item {
  width: 80%;
  height :100%;
}

.carousel-image{
  width:100%; height:40vh;
}

.carousel-catpion {
  position: absolute;
  width: 80%;
  height: 10%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);

}
